@model List<Hotel>

@{
    ViewData["Title"] = "Hotels";
}

<head>
    <link rel="stylesheet" href="~/css/custom.css" />
</head>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <div class="row pt-3 pb-3">
                <div class="col-xl-2">
                    <img class="coat_arms" src="~/Content/Images/klaipeda_coat_arms.png" />
                </div>
                <div class="text-left col-xl-8 ml-5">
                    <h1 class="jumbo_title">Accommodations</h1>
                </div>
            </div>
        </div>
    </header>
</div>

<body>

        <hr class="m-3"/>
        <div class="ml-3 mr-3 mt-3 mb-5 text-muted">
            <p class="lead">Here you will find helpful suggestions for your accommodations in Klaipeda.  This list contains 
            hotels, hostels, and apartments that are added and updated by locals and visitors who have stayed 
            there before.</p>
            <p class="lead">If you would like to add your own recommendation, please click on the "Add Hotel" button below.   
            Similarly, you can easily update any part of a hotel's information or delete an entry by clicking 
            either "Edit" or "Delete" buttons corresponding to each individual entry.</p>
        </div>
        <hr class="m-3"/>
        <div class="text-muted ml-3 mt-2">
            <h5>Search by hotel name or rating</h5>
        </div>
        <form method="post" class="container mb-5">
            <div class="row p-2">
                <input name="SearchParam" class="form-control col-md-2 mr-3 justify-content-center" />
                <button type="submit" class="form-control btn btn-outline-success font-weight-bold col-1 mr-1">Search</button>
                <a asp-action="Index" class="btn btn-outline-danger font-weight-bold col-1">Reset</a>
            </div>
        </form>
        <div class="ml-2 mr-2">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Price&#8727;</th>
                        <th scope="col">Link</th>
                        <th scope="col" class="justify-content-center">Entry By</th> <!--added a column to specify who provided this entry-->
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model != null)
                    {
                        foreach (Hotel hotel in Model)
                        {
                    <tr>
                        <th scope="row" class="text-muted">@hotel.HotelID</th>
                        <td class="font-weight-bold">@hotel.HotelName</td>
                        <td class="text-muted">@hotel.HotelAddress</td>
                        <td>@hotel.HotelRating&#9733;</td>
                        <td>&#36;@hotel.HotelPrice</td>
                        <td class="text-info">@hotel.HotelLink</td>
                        <td class="text-dark">@hotel.Sender?.SenderName</td> <!--trying to add the user who supplied the entry-->
                        <td>
                            <a class="btn btn-outline-success" asp-action="Edit"
                               asp-route-id="@hotel.HotelID">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger" asp-action="Delete"
                               asp-route-id="@hotel.HotelID">Delete</a>
                        </td>
                    </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    <hr />
    <div class="font-italic text-info mb-2">
        <p>&emsp;&#8727;&nbsp;"Price" refers to an average cost for one night stay</p>
    </div>
    <div>
        <a class="btn btn-success font-weight-bold col-sm-2 col-md-2 mt-5 mb-5 pt-2 pb-2" asp-action="Add">Add Hotel</a>
    </div>

</body>