
@model List<Restaurant>

@{
    ViewData["Title"] = "Restaurants";
    //Layout = "~/Views/Shared/_RestAndHotelLayout.cshtml";
}

<div class="container">
    <header class="jumbotron">

        <h1 class="display-4">Places to Eat in Klaipeda</h1>
        <p>Here you will find helpful suggestions for your outings in Klaipeda as far as food goes.</p>
        <img src="~/Content/Images/Gallery/bar.jpg" class="figure-img img-fluid rounded" alt="Klaipeda city" /> <!--Experimenting-->
    </header>
</div>

<body>

    <div class="text-muted ml-2 mt-2">
        <h5>Search by restaurant name or cuisine type</h5>
    </div>
    <form method="post" class="container mb-5">
        <div class="row p-2">
            <input name="SearchParam" class="form-control col-md-2 mr-3 justify-content-center" placeholder="Type your entry here" />
            <button type="submit" class="form-control btn btn-outline-success font-weight-bold col-1 mr-1">Search</button>
            <a asp-action="Index" class="btn btn-outline-danger font-weight-bold col-1">Reset</a>
        </div>
    </form>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Cuisine</th>
                <th scope="col">Description</th>
                <th scope="col" class="text-justify">Rating</th>
                <th scope="col" class="justify-content-center">Price&#8727;</th>
                <th scope="col" class="justify-content-center">Link</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                foreach (Restaurant restaurant in Model)
                {
                    <tr>
                        <th scope="row" class="text-muted">@restaurant.RestaurantID</th>
                        <td class="font-weight-bold">@restaurant.RestaurantName</td>
                        <td class="text-muted font-italic">@restaurant.CuisineName.CuisineName</td>
                        <td class="text-muted">@restaurant.RestaurantDesc</td>
                        <td>@restaurant.RestaurantRating&#9733;</td>
                        <td>&#36;@restaurant.RestaurantPrice</td>
                        <td class="btn-link">@restaurant.RestaurantLink</td>
                        <td>
                            <a class="btn btn-outline-success" asp-action="Edit"
                               asp-route-id="@restaurant.RestaurantID">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger" asp-action="Delete"
                               asp-route-id="@restaurant.RestaurantID">Delete</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <hr />
    <div class="font-italic text-info mb-2">
        <p>&emsp;&#8727;&nbsp;"Price" refers to an average bill for one person</p>
    </div>
    <div>
        <a class="btn btn-success font-weight-bold col-sm-2 col-md-2 mt-5 mb-5 pt-2 pb-2" asp-action="Add">Add A Restaurant</a>
    </div>

</body>

